body {
    line-height: 1;
}

p {
    margin-bottom: .5rem;
}
.page-header {
    height: 3rem;
    border-bottom: 1px solid #ccc;
}

.header-name {
    float: left;
    padding: .5rem;
}

.header-name--company {
    font-weight: 900;
}

.header-contact {
    float: right;
    padding: .5rem;
}

.header-contact--intro {
    color: #ccc;
    font-weight: 900;
}

.header-contact--number {
    color: #000;
    text-decoration: underline;
}

.message {
    text-align: center;
    padding-top: 4rem;
}

.message--bold {
    text-align: center;
    font-weight: bold;
}

.main {
    border: 1px solid #ccc;
    margin: 5rem 10rem;
}

.house-image {
    width: 50%;
    height: 50%;
    padding: 2rem;
}

.house-details {
    padding: 2rem;
}

.download-button {
    float: right;
    height: 30%;
    margin-top: 2rem;
    margin-left: 2rem;
}